* {
  box-sizing: border-box;
}

html {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  height: 100%;
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

article {
  width: 320px;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0px 2px 10px hsl(212, 15%, 48%, 0.5);
}

article > img {
  width: 100%;
  border-radius: 10px;
}

article > h2 {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding-inline: 14px;
}

article > p {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--slate-500);
  padding-inline: 14px;
}

footer {
  align-self: end;
  padding: 0 5px 5px 0;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
